Project_Diktiakos/Project_Diktiakos/src/conf/xml-resources/web-service-references/anafora_kodikos_exetasis_ws/wsdl/localhost_8080/Project_Diktiakos/anafora_kodikos_exetasis_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://loginwebservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://loginwebservices/" name="anafora_kodikos_exetasis_ws">
<types>
<xsd:schema>
<xsd:import namespace="http://loginwebservices/" schemaLocation="http://localhost:8080/Project_Diktiakos/anafora_kodikos_exetasis_ws?xsd=1"/>
</xsd:schema>
</types>
<message name="getList_teliko_ap">
<part name="parameters" element="tns:getList_teliko_ap"/>
</message>
<message name="getList_teliko_apResponse">
<part name="parameters" element="tns:getList_teliko_apResponse"/>
</message>
<message name="getList_name_exetasis">
<part name="parameters" element="tns:getList_name_exetasis"/>
</message>
<message name="getList_name_exetasisResponse">
<part name="parameters" element="tns:getList_name_exetasisResponse"/>
</message>
<message name="anafora_kodikos_exetasis">
<part name="parameters" element="tns:anafora_kodikos_exetasis"/>
</message>
<message name="anafora_kodikos_exetasisResponse">
<part name="parameters" element="tns:anafora_kodikos_exetasisResponse"/>
</message>
<message name="getList_lastname_exetasis">
<part name="parameters" element="tns:getList_lastname_exetasis"/>
</message>
<message name="getList_lastname_exetasisResponse">
<part name="parameters" element="tns:getList_lastname_exetasisResponse"/>
</message>
<portType name="anafora_kodikos_exetasis_ws">
<operation name="getList_teliko_ap">
<input wsam:Action="http://loginwebservices/anafora_kodikos_exetasis_ws/getList_teliko_apRequest" message="tns:getList_teliko_ap"/>
<output wsam:Action="http://loginwebservices/anafora_kodikos_exetasis_ws/getList_teliko_apResponse" message="tns:getList_teliko_apResponse"/>
</operation>
<operation name="getList_name_exetasis">
<input wsam:Action="http://loginwebservices/anafora_kodikos_exetasis_ws/getList_name_exetasisRequest" message="tns:getList_name_exetasis"/>
<output wsam:Action="http://loginwebservices/anafora_kodikos_exetasis_ws/getList_name_exetasisResponse" message="tns:getList_name_exetasisResponse"/>
</operation>
<operation name="anafora_kodikos_exetasis">
<input wsam:Action="http://loginwebservices/anafora_kodikos_exetasis_ws/anafora_kodikos_exetasisRequest" message="tns:anafora_kodikos_exetasis"/>
<output wsam:Action="http://loginwebservices/anafora_kodikos_exetasis_ws/anafora_kodikos_exetasisResponse" message="tns:anafora_kodikos_exetasisResponse"/>
</operation>
<operation name="getList_lastname_exetasis">
<input wsam:Action="http://loginwebservices/anafora_kodikos_exetasis_ws/getList_lastname_exetasisRequest" message="tns:getList_lastname_exetasis"/>
<output wsam:Action="http://loginwebservices/anafora_kodikos_exetasis_ws/getList_lastname_exetasisResponse" message="tns:getList_lastname_exetasisResponse"/>
</operation>
</portType>
<binding name="anafora_kodikos_exetasis_wsPortBinding" type="tns:anafora_kodikos_exetasis_ws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getList_teliko_ap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getList_name_exetasis">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="anafora_kodikos_exetasis">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getList_lastname_exetasis">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="anafora_kodikos_exetasis_ws">
<port name="anafora_kodikos_exetasis_wsPort" binding="tns:anafora_kodikos_exetasis_wsPortBinding">
<soap:address location="http://localhost:8080/Project_Diktiakos/anafora_kodikos_exetasis_ws"/>
</port>
</service>
</definitions>