Project_Diktiakos/Project_Diktiakos/src/conf/xml-resources/web-service-references/anafora_kodikos_exetasis_ws/wsdl/localhost_8080/Project_Diktiakos/anafora_kodikos_exetasis_ws.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://loginwebservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://loginwebservices/">

<xs:element name="anafora_kodikos_exetasis" type="tns:anafora_kodikos_exetasis"/>

<xs:element name="anafora_kodikos_exetasisResponse" type="tns:anafora_kodikos_exetasisResponse"/>

<xs:element name="getList_lastname_exetasis" type="tns:getList_lastname_exetasis"/>

<xs:element name="getList_lastname_exetasisResponse" type="tns:getList_lastname_exetasisResponse"/>

<xs:element name="getList_name_exetasis" type="tns:getList_name_exetasis"/>

<xs:element name="getList_name_exetasisResponse" type="tns:getList_name_exetasisResponse"/>

<xs:element name="getList_teliko_ap" type="tns:getList_teliko_ap"/>

<xs:element name="getList_teliko_apResponse" type="tns:getList_teliko_apResponse"/>

<xs:complexType name="getList_lastname_exetasis">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getList_lastname_exetasisResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getList_teliko_ap">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getList_teliko_apResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="anafora_kodikos_exetasis">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="anafora_kodikos_exetasisResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getList_name_exetasis">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getList_name_exetasisResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>