Project_Diktiakos/Project_Diktiakos/src/conf/xml-resources/web-service-references/themata_wc/wsdl/localhost_8080/Project_Diktiakos/themata_wc.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://loginwebservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://loginwebservices/">

<xs:element name="showCount_up_themata" type="tns:showCount_up_themata"/>

<xs:element name="showCount_up_themataResponse" type="tns:showCount_up_themataResponse"/>

<xs:element name="up_themata" type="tns:up_themata"/>

<xs:element name="up_themataResponse" type="tns:up_themataResponse"/>

<xs:complexType name="showCount_up_themata">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showCount_up_themataResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="up_themata">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="up_themataResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>