Project_Diktiakos/Project_Diktiakos/src/conf/xml-resources/web-service-references/pistopoisi_exestikou_kentrou_ws/wsdl/localhost_8080/Project_Diktiakos/pistopoisi_exestikou_kentrou_ws.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://loginwebservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://loginwebservices/">

<xs:element name="pistopoisi_exetastikou_kentrou" type="tns:pistopoisi_exetastikou_kentrou"/>

<xs:element name="pistopoisi_exetastikou_kentrouResponse" type="tns:pistopoisi_exetastikou_kentrouResponse"/>

<xs:element name="showCount2" type="tns:showCount2"/>

<xs:element name="showCount2Response" type="tns:showCount2Response"/>

<xs:complexType name="showCount2">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showCount2Response">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pistopoisi_exetastikou_kentrou">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pistopoisi_exetastikou_kentrouResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>