JavaApplication3/JavaApplication3/xml-resources/web-service-references/ipopsifiows/wsdl/localhost_8080/Project_Diktiakos/ipopsifiows.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://loginwebservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://loginwebservices/">

<xs:element name="foo2" type="tns:foo2"/>

<xs:element name="foo2Response" type="tns:foo2Response"/>

<xs:element name="showCount" type="tns:showCount"/>

<xs:element name="showCountResponse" type="tns:showCountResponse"/>

<xs:complexType name="foo2">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:int"/>
<xs:element name="arg5" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="foo2Response">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showCount">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>