Project_Diktiakos/Project_Diktiakos/src/conf/xml-resources/web-service-references/isagogi_stixio_ws/wsdl/localhost_8080/Project_Diktiakos/isagogi_stixio_ws.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://loginwebservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://loginwebservices/">

<xs:element name="Count_stixia" type="tns:Count_stixia"/>

<xs:element name="Count_stixiaResponse" type="tns:Count_stixiaResponse"/>

<xs:element name="insert_stixia" type="tns:insert_stixia"/>

<xs:element name="insert_stixiaResponse" type="tns:insert_stixiaResponse"/>

<xs:complexType name="Count_stixia">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Count_stixiaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insert_stixia">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insert_stixiaResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>