Project_Diktiakos/Project_Diktiakos/web/AnaforaExetastikouKentro.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://loginwebservices/" name="anafora_exetastikou_kentro" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://loginwebservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://loginwebservices/" schemaLocation="AnaforaExetastikouKentro_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="anafora_exetastiko_kentro">
    <part name="parameters" element="tns:anafora_exetastiko_kentro"/>
  </message>
  <message name="anafora_exetastiko_kentroResponse">
    <part name="parameters" element="tns:anafora_exetastiko_kentroResponse"/>
  </message>
  <message name="getList_sum">
    <part name="parameters" element="tns:getList_sum"/>
  </message>
  <message name="getList_sumResponse">
    <part name="parameters" element="tns:getList_sumResponse"/>
  </message>
  <message name="getList_name">
    <part name="parameters" element="tns:getList_name"/>
  </message>
  <message name="getList_nameResponse">
    <part name="parameters" element="tns:getList_nameResponse"/>
  </message>
  <message name="getList_lastName">
    <part name="parameters" element="tns:getList_lastName"/>
  </message>
  <message name="getList_lastNameResponse">
    <part name="parameters" element="tns:getList_lastNameResponse"/>
  </message>
  <portType name="anafora_exetastikou_kentro">
    <operation name="anafora_exetastiko_kentro">
      <input wsam:Action="http://loginwebservices/anafora_exetastikou_kentro/anafora_exetastiko_kentroRequest" message="tns:anafora_exetastiko_kentro"/>
      <output wsam:Action="http://loginwebservices/anafora_exetastikou_kentro/anafora_exetastiko_kentroResponse" message="tns:anafora_exetastiko_kentroResponse"/>
    </operation>
    <operation name="getList_sum">
      <input wsam:Action="http://loginwebservices/anafora_exetastikou_kentro/getList_sumRequest" message="tns:getList_sum"/>
      <output wsam:Action="http://loginwebservices/anafora_exetastikou_kentro/getList_sumResponse" message="tns:getList_sumResponse"/>
    </operation>
    <operation name="getList_name">
      <input wsam:Action="http://loginwebservices/anafora_exetastikou_kentro/getList_nameRequest" message="tns:getList_name"/>
      <output wsam:Action="http://loginwebservices/anafora_exetastikou_kentro/getList_nameResponse" message="tns:getList_nameResponse"/>
    </operation>
    <operation name="getList_lastName">
      <input wsam:Action="http://loginwebservices/anafora_exetastikou_kentro/getList_lastNameRequest" message="tns:getList_lastName"/>
      <output wsam:Action="http://loginwebservices/anafora_exetastikou_kentro/getList_lastNameResponse" message="tns:getList_lastNameResponse"/>
    </operation>
  </portType>
  <binding name="anafora_exetastikou_kentroPortBinding" type="tns:anafora_exetastikou_kentro">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="anafora_exetastiko_kentro">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getList_sum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getList_name">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getList_lastName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="anafora_exetastikou_kentro">
    <port name="anafora_exetastikou_kentroPort" binding="tns:anafora_exetastikou_kentroPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

