Project_Diktiakos/Project_Diktiakos/src/conf/xml-resources/web-service-references/start_themata/wsdl/localhost_8080/Project_Diktiakos/start_themata.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://loginwebservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://loginwebservices/" name="start_themata">
<types>
<xsd:schema>
<xsd:import namespace="http://loginwebservices/" schemaLocation="http://localhost:8080/Project_Diktiakos/start_themata?xsd=1"/>
</xsd:schema>
</types>
<message name="arxikopoisi_themata">
<part name="parameters" element="tns:arxikopoisi_themata"/>
</message>
<message name="arxikopoisi_themataResponse">
<part name="parameters" element="tns:arxikopoisi_themataResponse"/>
</message>
<message name="get_choice1">
<part name="parameters" element="tns:get_choice1"/>
</message>
<message name="get_choice1Response">
<part name="parameters" element="tns:get_choice1Response"/>
</message>
<message name="get_choice2">
<part name="parameters" element="tns:get_choice2"/>
</message>
<message name="get_choice2Response">
<part name="parameters" element="tns:get_choice2Response"/>
</message>
<message name="get_choice3">
<part name="parameters" element="tns:get_choice3"/>
</message>
<message name="get_choice3Response">
<part name="parameters" element="tns:get_choice3Response"/>
</message>
<message name="get_number_code">
<part name="parameters" element="tns:get_number_code"/>
</message>
<message name="get_number_codeResponse">
<part name="parameters" element="tns:get_number_codeResponse"/>
</message>
<message name="get_erwtisi">
<part name="parameters" element="tns:get_erwtisi"/>
</message>
<message name="get_erwtisiResponse">
<part name="parameters" element="tns:get_erwtisiResponse"/>
</message>
<message name="get_choice4">
<part name="parameters" element="tns:get_choice4"/>
</message>
<message name="get_choice4Response">
<part name="parameters" element="tns:get_choice4Response"/>
</message>
<message name="random_erwtisi">
<part name="parameters" element="tns:random_erwtisi"/>
</message>
<message name="random_erwtisiResponse">
<part name="parameters" element="tns:random_erwtisiResponse"/>
</message>
<message name="themata_random">
<part name="parameters" element="tns:themata_random"/>
</message>
<message name="themata_randomResponse">
<part name="parameters" element="tns:themata_randomResponse"/>
</message>
<portType name="start_themata">
<operation name="arxikopoisi_themata">
<input wsam:Action="http://loginwebservices/start_themata/arxikopoisi_themataRequest" message="tns:arxikopoisi_themata"/>
<output wsam:Action="http://loginwebservices/start_themata/arxikopoisi_themataResponse" message="tns:arxikopoisi_themataResponse"/>
</operation>
<operation name="get_choice1">
<input wsam:Action="http://loginwebservices/start_themata/get_choice1Request" message="tns:get_choice1"/>
<output wsam:Action="http://loginwebservices/start_themata/get_choice1Response" message="tns:get_choice1Response"/>
</operation>
<operation name="get_choice2">
<input wsam:Action="http://loginwebservices/start_themata/get_choice2Request" message="tns:get_choice2"/>
<output wsam:Action="http://loginwebservices/start_themata/get_choice2Response" message="tns:get_choice2Response"/>
</operation>
<operation name="get_choice3">
<input wsam:Action="http://loginwebservices/start_themata/get_choice3Request" message="tns:get_choice3"/>
<output wsam:Action="http://loginwebservices/start_themata/get_choice3Response" message="tns:get_choice3Response"/>
</operation>
<operation name="get_number_code">
<input wsam:Action="http://loginwebservices/start_themata/get_number_codeRequest" message="tns:get_number_code"/>
<output wsam:Action="http://loginwebservices/start_themata/get_number_codeResponse" message="tns:get_number_codeResponse"/>
</operation>
<operation name="get_erwtisi">
<input wsam:Action="http://loginwebservices/start_themata/get_erwtisiRequest" message="tns:get_erwtisi"/>
<output wsam:Action="http://loginwebservices/start_themata/get_erwtisiResponse" message="tns:get_erwtisiResponse"/>
</operation>
<operation name="get_choice4">
<input wsam:Action="http://loginwebservices/start_themata/get_choice4Request" message="tns:get_choice4"/>
<output wsam:Action="http://loginwebservices/start_themata/get_choice4Response" message="tns:get_choice4Response"/>
</operation>
<operation name="random_erwtisi">
<input wsam:Action="http://loginwebservices/start_themata/random_erwtisiRequest" message="tns:random_erwtisi"/>
<output wsam:Action="http://loginwebservices/start_themata/random_erwtisiResponse" message="tns:random_erwtisiResponse"/>
</operation>
<operation name="themata_random">
<input wsam:Action="http://loginwebservices/start_themata/themata_randomRequest" message="tns:themata_random"/>
<output wsam:Action="http://loginwebservices/start_themata/themata_randomResponse" message="tns:themata_randomResponse"/>
</operation>
</portType>
<binding name="start_themataPortBinding" type="tns:start_themata">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="arxikopoisi_themata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_choice1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_choice2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_choice3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_number_code">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_erwtisi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_choice4">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="random_erwtisi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="themata_random">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="start_themata">
<port name="start_themataPort" binding="tns:start_themataPortBinding">
<soap:address location="http://localhost:8080/Project_Diktiakos/start_themata"/>
</port>
</service>
</definitions>