Project_Diktiakos/Project_Diktiakos/src/conf/xml-resources/web-service-references/exetastikokedrows/wsdl/localhost_8080/Project_Diktiakos/exetastikokedrows.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://loginwebservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://loginwebservices/">

<xs:element name="foo3" type="tns:foo3"/>

<xs:element name="foo3Response" type="tns:foo3Response"/>

<xs:element name="showCount1" type="tns:showCount1"/>

<xs:element name="showCount1Response" type="tns:showCount1Response"/>

<xs:complexType name="showCount1">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showCount1Response">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="foo3">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="foo3Response">
<xs:sequence/>
</xs:complexType>
</xs:schema>