Project_Diktiakos/Project_Diktiakos/src/conf/xml-resources/web-service-references/diagrafi_thematon_ws/wsdl/localhost_8080/Project_Diktiakos/diagrafi_thematon_ws.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://loginwebservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://loginwebservices/">

<xs:element name="diagrafi_thematon" type="tns:diagrafi_thematon"/>

<xs:element name="diagrafi_thematonResponse" type="tns:diagrafi_thematonResponse"/>

<xs:element name="getCount_diagrafi_thematon" type="tns:getCount_diagrafi_thematon"/>

<xs:element name="getCount_diagrafi_thematonResponse" type="tns:getCount_diagrafi_thematonResponse"/>

<xs:complexType name="getCount_diagrafi_thematon">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCount_diagrafi_thematonResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="diagrafi_thematon">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="diagrafi_thematonResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>