Project_Diktiakos/Project_Diktiakos/src/conf/xml-resources/web-service-references/anafora_exetastikou_kentro/wsdl/localhost_8080/Project_Diktiakos/anafora_exetastikou_kentro.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://loginwebservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://loginwebservices/" name="anafora_exetastikou_kentro">
<types>
<xsd:schema>
<xsd:import namespace="http://loginwebservices/" schemaLocation="http://localhost:8080/Project_Diktiakos/anafora_exetastikou_kentro?xsd=1"/>
</xsd:schema>
</types>
<message name="anafora_exetastiko_kentro">
<part name="parameters" element="tns:anafora_exetastiko_kentro"/>
</message>
<message name="anafora_exetastiko_kentroResponse">
<part name="parameters" element="tns:anafora_exetastiko_kentroResponse"/>
</message>
<message name="getList_sum">
<part name="parameters" element="tns:getList_sum"/>
</message>
<message name="getList_sumResponse">
<part name="parameters" element="tns:getList_sumResponse"/>
</message>
<message name="getList_name">
<part name="parameters" element="tns:getList_name"/>
</message>
<message name="getList_nameResponse">
<part name="parameters" element="tns:getList_nameResponse"/>
</message>
<message name="getList_lastName">
<part name="parameters" element="tns:getList_lastName"/>
</message>
<message name="getList_lastNameResponse">
<part name="parameters" element="tns:getList_lastNameResponse"/>
</message>
<portType name="anafora_exetastikou_kentro">
<operation name="anafora_exetastiko_kentro">
<input wsam:Action="http://loginwebservices/anafora_exetastikou_kentro/anafora_exetastiko_kentroRequest" message="tns:anafora_exetastiko_kentro"/>
<output wsam:Action="http://loginwebservices/anafora_exetastikou_kentro/anafora_exetastiko_kentroResponse" message="tns:anafora_exetastiko_kentroResponse"/>
</operation>
<operation name="getList_sum">
<input wsam:Action="http://loginwebservices/anafora_exetastikou_kentro/getList_sumRequest" message="tns:getList_sum"/>
<output wsam:Action="http://loginwebservices/anafora_exetastikou_kentro/getList_sumResponse" message="tns:getList_sumResponse"/>
</operation>
<operation name="getList_name">
<input wsam:Action="http://loginwebservices/anafora_exetastikou_kentro/getList_nameRequest" message="tns:getList_name"/>
<output wsam:Action="http://loginwebservices/anafora_exetastikou_kentro/getList_nameResponse" message="tns:getList_nameResponse"/>
</operation>
<operation name="getList_lastName">
<input wsam:Action="http://loginwebservices/anafora_exetastikou_kentro/getList_lastNameRequest" message="tns:getList_lastName"/>
<output wsam:Action="http://loginwebservices/anafora_exetastikou_kentro/getList_lastNameResponse" message="tns:getList_lastNameResponse"/>
</operation>
</portType>
<binding name="anafora_exetastikou_kentroPortBinding" type="tns:anafora_exetastikou_kentro">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="anafora_exetastiko_kentro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getList_sum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getList_name">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getList_lastName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="anafora_exetastikou_kentro">
<port name="anafora_exetastikou_kentroPort" binding="tns:anafora_exetastikou_kentroPortBinding">
<soap:address location="http://localhost:8080/Project_Diktiakos/anafora_exetastikou_kentro"/>
</port>
</service>
</definitions>